// https://www.design-seeds.com/seasons/winter/winter-wonder-2/
$porcelain-color: #e3eaea;
$jungle-mist-color: #b5ccd4;
$smalt-blue-color: #597484;
$river-bed-color: #435256;
$coral-tree-color: #a46260;
$spring-wood-color: #f5f2ed;

// Font
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
