// https://www.design-seeds.com/seasons/winter/winter-wonder-2/
$porcelain-color: #E3EAEA;
$jungle-mist-color: #B5CCD4;
$smalt-blue-color: #597484;
$river-bed-color: #435256;
$coral-tree-color: #A46260;
$spring-wood-color: #F5F2ED;

// Font
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
