// https://www.design-seeds.com/seasons/winter/winter-wonder-2/
$color-1: #E3EAEA;
$color-2: #B5CCD4;
$color-3: #597484;
$color-4: #435256;
$color-5: #A46260;
$color-6: #F5F2ED;

// Font
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
