{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "arrowParens": "always",
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
