html, body {
	margin: 0;
	background-color: #f9f9f9;
}

body {
	position: relative;
	height: 100%;
	color: #212121;
}

article {
	width: 32%;
	float: left;
}

section {
	margin: 32px;
	padding: 16px;
	background-color: #fff;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

h2 {
	color: #039be5;
	font-weight: 400;
}

.clear {
	clear: both;
}

.text-white {
	color: #fff;
}

.text-black {
	color: #212121;
}

.header-brand {
	padding: 16px 0;
	margin: 0 32px;
	font-size: 24px;
	font-weight: 400;
	color: #fff;
}

.touch-screen {
	height: 480px;
	width: 320px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.touch-screen > .screen {
	height: 408px;
}

.touch-screen > .group-buttons {
	height: 72px;
	display: flex;
}

.touch-screen > .group-buttons > .button {
	width: 50%;
	height: inherit;
}

.colors {
	padding: 0;
	margin: 0;
}

.colors > .colors-item {
	list-style-type: none;
	width: 200px;
	margin-bottom: 8px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.colors > .colors-item > .color {
	height: 32px;
	text-align: right;
	padding: 8px;
}

.palettes {
	padding: 0 32px;
	margin: 0;
	width: 300px;
	height: 400px;
	overflow-y: auto;
}

.palettes > .palettes-item {
	list-style-type: none;
	padding: 16px;
	width: 100%;
}

.palettes > .palettes-item:hover {
	background-color: #eee;
	cursor: pointer;
}

.palettes > .palettes-item > .id {
	float: left;
	margin-right: 16px;
}

.palettes > .palettes-item > .palette {
	display: table-row;
	float: left;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.palettes > .palettes-item > .palette > .color {
	display: table-cell;
	width: 24px;
	height: 24px;
}

.checked-button {
	float: right;
	border-radius: 12px;
	width: 24px;
	height: 24px;
}

.dialog {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.9);
	top: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	display: flex;
}

.btn-preview {
	color: #ff4081;
	box-sizing: border-box;
	outline: 0 none;
	border: 0 none;
	display: inline-table;
	padding: 0 6px;
	line-height: 36px;
	min-height: 36px;
	background: transparent none repeat scroll 0 0;
	min-width: 88px;
	white-space: nowrap;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-style: inherit;
	font-variant: inherit;
	font-family: inherit;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
	letter-spacing: 0.01em;
	border-radius: 3px;
}

.btn-preview:active {
	color: #fff;
	background-color: #ff4081;
}

.dialog-content {
	position: relative;
	height: 480px;
	width: 320px;
}

.btn-close-dialog {
	position: absolute;
	top: 32px;
	right: 32px;
	box-sizing: border-box;
	outline: 0px none;
	border: 0px none;
	color: #fff;
	font-size: 16px;
	background-color: transparent;
}

.btn-close-dialog:hover {
	cursor: pointer;
}