---
import { getCollection } from "astro:content";

import { GA_MEASUREMENT_ID } from "../../consts";
import { sortByDate } from "../../utils/sortByDate";

import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import PostItem from "../../components/PostItem.astro";

const posts = (await getCollection("hobby")).sort(sortByDate);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Giải trí" />
  </head>
  <body>
    <Header />

    <Nav />

    <main class="max-w-2xl mx-auto px-4">
      <section
        class="mb-12 pt-10 border-t border-slate-200 dark:border-slate-700"
      >
        <ul>
          {posts.map((post) => <PostItem post={post} category="hobbies" />)}
        </ul>
      </section>
    </main>
    <Footer />

    <script
      type="text/partytown"
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}
    ></script>

    <script type="text/partytown" define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_MEASUREMENT_ID);
    </script>
  </body>
</html>
