---
import { getCollection } from "astro:content";

import { GA_MEASUREMENT_ID } from "../../consts";

import { sortByDate } from "../../utils/sortByDate";

import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import PostItem from "../../components/PostItem.astro";

const posts = (await getCollection("hobby")).sort(sortByDate);
---

<!doctype html>
<html lang="vi">
  <head>
    <BaseHead title="Giải trí" />
  </head>
  <body>
    <Header />

    <main class="my-20">
      <div class="py-20 mb-12 bg-white dark:bg-slate-800">
        <h1
          class="text-slate-900 font-semibold text-3xl sm:text-4xl lg:text-5xl tracking-tight text-center dark:text-white mb-6"
        >
          Giải trí
        </h1>
        <p class="text-center">{posts.length} bài viết</p>
      </div>

      <div class="container mx-auto">
        <div class="flex flex-row px-8 gap-8">
          <div class="basis-3/12">
            <h2
              class="text-2xl sm:text-3xl font-medium text-slate-900 tracking-tight dark:text-slate-200"
            >
              Bài viết mới nhất
            </h2>
          </div>
          <section class="basis-9/12">
            <ul class="flex flex-col gap-6 pb-6">
              {
                posts.map((post) => (
                  <PostItem post={post} category="hobbies" />
                ))
              }
            </ul>
          </section>
        </div>
      </div>
    </main>

    <Footer />

    <script
      type="text/partytown"
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}
    ></script>

    <script type="text/partytown" define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_MEASUREMENT_ID);
    </script>
  </body>
</html>
