/*
 * The complex world's theme
 * Index page
 *
 * @author Nam Vo <vhnam2504@gmail.com>
 * @package The complex world
*/

/* ====== Header ====== */
header {
    height: 64px;
    background-color: #303f97;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header > a {
    text-decoration: none;
}

header > a > h1 {
    margin: 0;
    padding: 16px 32px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

/* ====== Footer ====== */
footer {
    height: 64px;
    background-color: #37474f;
    position: relative;
}

footer .footer-copyright {
    text-decoration: none;
    position: absolute;
    right: 32px;
    top: 16px;
}

.footer-copyright > h2 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.footer-copyright > h2 .author {
    opacity: 0.6;
}

/* ====== Cover ====== */
section.index-cover {
    position: relative;
    height: calc(100vh - 64px);
    background-color: #3f51b5;
}

.index-cover article.index-cover-content {
    position: absolute;
    width: 300px;
    top: 20vh;
    left: calc(50vw - 150px);
    text-align: center;
}

.index-cover article.index-cover-content .avatar {
    width: 128px;
    height: 128px;
    border-radius: 128px;
    border: 1px solid #212121;
}

.index-cover article.index-cover-content h2 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.index-cover .social-networks {
    margin: 0 auto;
    width: 105px;
    display: flex;
    list-style-type: none;
}

.index-cover .social-networks li {
    margin: 0 8px;
}

.index-cover .social-networks li img {
    width: 36px;
    height: 36px;
}

/* ====== Introduction ====== */
section.index-intro {
    height: calc(100vh - 64px);
    background-color: #fff;
    position: relative;
}

.index-intro .intro-quote {
    width: 695px;
    margin: 0 auto;
    color: #ff4081;
    padding-top: 36px;
}

.intro-quote blockquote {
    font-size: 16px;
}

.intro-quote h4 {
    font-style: italic;
    font-weight: 400;
    float: right;
    margin: 0;
}

.index-intro .navigator {
    margin: 0 auto;
    width: 960px;
    clear: both;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 40vh;
    transform: translate(-50%, -50%);
}

.index-intro nav > li {
    float: left;
    width: 33.33%;
    list-style-type: none;
}

.index-intro a {
    text-decoration: none;
}

.index-intro .nav-content {
    text-align: center;
    color: #212121;
}

.nav-content .nav-icon {
    width: 36px;
    height: 36px;
}

.nav-content h3 {
    font-size: 24px;
    font-weight: 400;
    color: #03A9F4;
    margin-top: 32px;
    margin-bottom: 8px;
}

.nav-content .description {
    font-size: 14px;
    line-height: 1.75em;
    width: 60%;
    margin: 0px auto;
}

/* ====== Responsive ====== */
@media(max-width: 960px) {
    .index-intro .navigator {
        width: 100%;
        top: 50vh;
    }
}

@media(max-width: 770px) {
    .index-intro .intro-quote {
        width: 90%;
    }
}

@media(max-width: 480px) {
    .index-intro .intro-quote,
    .nav-content .nav-icon,
    footer {
        display: none;
    }

    section.index-intro {
        height: 100vh;
    }

    .index-intro .navigator li {
        float: none;
        width: 80%;
        margin: 32px auto;
    }
}
