body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f2f2f2;
}

.content {
	position: absolute;
	right: 0;
	width: 77%;
	min-height: 100%;
	padding: 40px 110px 0 30px;
}

.app-standard {
	width: 980px;
	height: inherit;
}

.center-screen {
	margin: 0 auto;
}

.clear-both {
	height: 80px;
	clear: both;
}

header {
	position: fixed;
	width: 23%;
	height: 100%;
	background-color: #19add8;
	box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.2s ease-in 0s;
	-moz-transition: all 0.2s ease-in 0s;
	-o-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;
}

.header-logo {
	width: 100%;
}

.header-brand {
	font-size: 20px;
	line-height: 2em;
	text-align: center;
}

.header-brand > a {
	color: #f2f2f2;
	text-decoration: none;
}

.header-index {
	padding-right: 30%;
	padding-left: 30%;
	text-align: center;
}

.header-index > li > a {
	padding: 5px 15px;
	color: #f2f2f2;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.header-index > li > a:hover {
	background-color: #5ec5e3;
	border-radius: 4px;
}

.nav-contact {
	margin-bottom: 20px;
	margin-top: 35px;
	text-align: center;
}

.widget {
	position: fixed;
	right: 2%;
	bottom: 10%;
	color: #f2f2f2;
	text-align: center;
}

.widget > div {
	width: 80px;
	height: 30px;
	margin-top: 5px;
	line-height: 2.3em;
	border-radius: 4px;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.widget > div:hover {
	cursor: pointer;
}

.widget-top {
	display: none;
	background-color: #1fa700;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.widget-top:hover {
	background-color: #62c14c;
}

.widget-top:active {
	background-color: #188500;
}

.widget-index {
	background-color: #19add8;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.widget-index:hover {
	background-color: #5ec5e3;
}

.widget-index:active {
	background-color: #148aac;
}

.post-content {
	line-height: 1.6em;
	text-align: justify;
}

.post-title {
	margin-bottom: 30px;
	color: #1c1d1e;
}

.post-url {
	color: #1A0DAB;
}

.post-time {
	text-align: right;
	margin-top: 30px;
	margin-bottom: 30px;
}

.widget-index > a {
	color: #f2f2f2;
	text-decoration: none;
}

.nav-index {
	min-height: 400px;
}

.nav-index > li {
	margin-bottom: 15px;
}

.nav-index > li > a {
	-webkit-transition: font-size 0.5s ease;
	-moz-transition: font-size 0.5s ease;
	-o-transition: font-size 0.5s ease;
	transition: font-size 0.5s ease;
}

.nav-index > li > a:hover {
	font-size: 17px;
	color: #19add8;
}

.div-btn-pagination {
	margin-bottom: 50px;
	text-align: center;
}

.badge-pagination {
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
}

.pagination-element {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.div-btn-pagination {
	width: 260px;
	margin: 0 auto;
}

.div-btn-pagination > button {
	width: 100px;
}

.div-btn-pagination > button:disabled {
	color: #999;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
}

.profile-avatar-div {
	padding-top: 15px;
	text-align: center;
}

.profile-summary {
	margin-top: 20px;
}

.about-me {
	margin-top: 60px;
}

article img {
	margin-top: 5px;
}

@media (max-width: 560px) {
	header {
		position: relative;
		width: 100%;
	}

	.header-logo {
		display: none;
		padding-right: 20%;
		padding-left: 20%;
		padding-top: 10%;
	}

	.header-brand {
		padding-top: 20px;
		margin-top: 0;
	}

	.content {
		width: 100%;
		padding-top: 0;
		padding-right: 30px;
	}

	.widget {
		display: none;
	}

	.badge-pagination {
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.div-btn-pagination {
		width: auto;
	}
}