body {
	background-color: #f2f2f2;
}

header {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #000;
}

.app-standard {
	width: 980px;
	height: inherit;
}

.center-screen {
	margin: 0 auto;
}

.header-brand {
	float: right;
	margin: 0;
	font-size: 24px;
	line-height: 2em;
}

.header-brand > a {
	color: #f2f2f2;
	text-decoration: none;
}

.widget {
	position: fixed;
	right: 2%;
	bottom: 10%;
	color: #f2f2f2;
	text-align: center;
}

.widget > div {
	width: 80px;
	height: 30px;
	margin-top: 5px;
	line-height: 2.3em;
	border-radius: 4px;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.widget > div:hover {
	cursor: pointer;
}

.widget-top {
	display: none;
	background-color: #5cb85c;
}

.widget-top:hover {
	background-color: #8ccd8c;
}

.widget-top:active {
	background-color: #499349;
}

.widget-index {
	background-color: #337ab7;
}

.widget-index:hover {
	background-color: #70a1cc;
}

.widget-index:active {
	background-color: #286192;
}

.post-content {
	width: 60%;
	text-align: justify;
}

.widget-index > a {
	color: #f2f2f2;
	text-decoration: none;
}