/*
 * The complex world's theme
 *
 * @author Nam Vo <vhnam2504@gmail.com>
 * @package The complex world
*/

/* ====== Primary ====== */
html, body {
    font-size: 12px;
    color: #212121;
}

body {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
