@import "@fontsource/source-sans-pro/400.css";
@import "@fontsource/source-sans-pro/600.css";
@import "@fontsource-variable/montserrat";
@import "tailwindcss";

@theme {
  --starlight-image-zoom-backdrop-bg: oklch(0.274 0.006 286.033 / 0.75);
  --font-display: "Montserrat Variable", "sans-serif";
  --font-sans: "Source Sans Pro", "sans-serif";
  --font-mono: "Fira Code VF", "monospace";
  --color-primary: var(--color-sky-500);
}

[data-mode="light"] {
  body {
    @apply bg-slate-100 text-slate-700 transition-colors;
  }
}

[data-mode="dark"] {
  body {
    @apply bg-slate-900 text-slate-400 transition-colors;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display font-semibold text-slate-900 dark:text-slate-50;
}

.content {
  @apply text-left bg-white dark:bg-slate-800 p-4 md:p-8 rounded;

  h1,
  h2 {
    @apply my-5 text-2xl;
  }
  h3 {
    @apply my-[1.125rem] text-lg;
  }
  h4 {
    @apply my-5 text-base;
  }
  h5 {
    @apply my-[1.375rem] text-sm;
  }
  h6 {
    @apply my-6 text-xs;
  }
  p {
    @apply my-5 text-base;

    &:has(img + em) {
      @apply text-center text-sm;

      img {
        @apply mb-1;
      }
    }
  }
  a {
    @apply text-slate-900 dark:text-slate-200 border-b break-words;
    @reference border-b-primary-400;

    &:hover,
    &:focus {
      @apply border-b-2;
    }
  }
  iframe {
    @apply mb-12 w-full;
  }
  img {
    @apply max-w-full h-auto mx-auto rounded-sm mb-12;
  }
  code {
    @apply px-2 py-1 font-mono text-xs text-pink-400;
  }
  blockquote {
    @apply py-1 pe-1 ps-5 border-l-2 border-solid;
    @reference border-primary-500;
  }
  cite {
    @apply italic;
  }
  table {
    @apply w-full;
  }
  strong {
    @apply text-slate-900 dark:text-slate-200;
  }
  pre {
    @apply relative p-6 rounded-lg mb-12;
    box-shadow: inset 0 0 0 1px #ffffff1a;

    & > code {
      all: unset;
      @apply text-sm;
    }
  }
  ol,
  ul {
    @apply pl-10 mt-4 mb-12;
  }
  ol {
    @apply list-decimal;
  }
  ul {
    @apply list-disc;
  }
  li {
    @apply my-3;
  }
  kbd {
    @apply text-[0.875em];
  }
  .sr-only {
    @apply absolute w-px h-px p-0 m-[-px] overflow-hidden border-0 whitespace-nowrap;
    clip: rect(0, 0, 0, 0);
  }
  table {
    @apply mb-12 w-full text-sm text-left text-gray-500 dark:text-gray-400;
  }
  table thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
  }
  table thead tr th {
    @apply px-4 py-3;
  }
  table tbody tr {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
  }
  table tbody tr th {
    @apply px-4 py-4 font-semibold text-gray-900 whitespace-nowrap dark:text-slate-200;
  }
  table tbody tr td {
    @apply px-4 py-4;
  }
}

.starlight-image-zoom-opened {
  button {
    @apply text-white;
  }

  figure figcaption {
    @apply bg-gradient-to-t from-black to-transparent text-white text-center pb-10 pt-6;
  }
}
