<!DOCTYPE html>
<html ng-app="palette">
	<head>
		<meta charset="UTF-8">
		<title>Palette Colors</title>
		<link rel="stylesheet" href="public/css/palette.css">
		<link rel="stylesheet" href="public/css/style.css">
		<link href="/public/img/favicon.png" rel="shortcut icon">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css">
	</head>
	<body ng-controller="PaletteCtrl">

		<header class="light-blue-600">
			<h1 class="header-brand">Palette</h1>
		</header>

		<section>
			<article>
				<div class="touch-screen">
					<div class="screen {{firstColor.color}}"></div>
					<div class="group-buttons">
						<div class="button {{secondColor.color}}"></div>
						<div class="button {{thirdColor.color}}"></div>
					</div>
				</div>
			</article>
			<article>
				<h2>ID: #{{format(index)}}</h2>
				<ul class="colors">
					<li class="colors-item">
						<div id="first-color" class="color {{firstColor.color}} text-{{firstColor.text}}">
							{{getColor(firstColor.color)}}
						</div>
					</li>
					<li class="colors-item">
						<div id="second-color" class="color {{secondColor.color}} text-{{secondColor.text}}">
							{{getColor(secondColor.color)}}
						</div>
					</li>
					<li class="colors-item">
						<div id="third-color" class="color {{thirdColor.color}} text-{{thirdColor.text}}">
							{{getColor(thirdColor.color)}}
						</div>
					</li>
				</ul>
				<button class="btn-preview" ng-click="showDialog()">Preview</button>
			</article>
			<article>
				<h2>Choose palette</h2>
				<ul class="palettes">
					<li class="palettes-item" ng-repeat="palette in palettes" ng-click="choosePalette(palette, $index)">
						<div class="id">#{{format($index)}}</div>
						<div class="palette">
							<div class="color {{palette.firstColor.color}}"></div>
							<div class="color {{palette.secondColor.color}}"></div>
							<div class="color {{palette.thirdColor.color}}"></div>
						</div>
						<div class="checked-button"></div>
						<div class="clear"></div>
					</li>
				</ul>
			</article>
			<div class="clear"></div>
		</section>

		<section class="dialog" ng-show="displayDialog">
			<button class="btn-close-dialog" ng-click="closeDialog()">&#10005;</button>
			<article class="dialog-content">
				<div class="touch-screen">
					<div class="screen {{firstColor.color}}"></div>
					<div class="group-buttons">
						<div class="button {{secondColor.color}}"></div>
						<div class="button {{thirdColor.color}}"></div>
					</div>
				</div>
			</article>
		</section>

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="public/js/index.js"></script>
	</body>
</html>