---
import { GA_MEASUREMENT_ID } from "../consts";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="vi">
  <head>
    <BaseHead title="404 - Không tìm thấy trang" />
  </head>
  <body>
    <Header />

    <main class="my-20">
      <div class="container mx-auto">
        <div class="px-4 xl:px-8 pt-10">
          <section class="flex items-center h-full p-16">
            <div
              class="container flex flex-col items-center justify-center px-5 mx-auto my-8"
            >
              <div class="max-w-md text-center">
                <h2 class="mb-8 font-bold text-9xl">
                  <span class="sr-only">Error</span>
                  <span class="text-primary">404</span>
                </h2>
                <p class="text-3xl font-semibold md:text-3xl">
                  Không tìm thấy trang
                </p>
                <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
                  Không sao, bạn vẫn có thể tìm được nhiều thứ hay ho trên trang
                  của mình
                </p>
                <a
                  rel="noopener noreferrer"
                  href="/"
                  class="ml-4 inline-flex items-center justify-center rounded-full border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800 cursor-pointer"
                  >Quay về Trang chủ</a
                >
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <Footer />

    <!-- Google Analytics 4 -->
    <script
      async
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}
    ></script>

    <script type="text/partytown" define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_MEASUREMENT_ID);
    </script>
  </body>
</html>
