@import "../variables";

.not-found {
  width: 100vw;
  height: 90vh;

  &__image {
    width: 100%;
    max-width: 30rem;
  }

  &__text {
    margin-top: -5rem;
    font-size: 1.125rem;
    color: $coral-tree-color;
  }

  &__link {
    font-weight: 600;
    color: $coral-tree-color;

    &:focus,
    &:hover,
    &:active {
      color: initial;
    }
  }
}
