@import "../variables";

.about {
  margin-bottom: 5rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.75rem;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.125;
  }

  &__cover {
    height: 20rem;
    background-image: url("/src/assets/img/tao-dan-band.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 0.25rem solid $river-bed-color;
  }

  &__heading {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: $coral-tree-color;
  }

  &__description {
    font-size: 0.875rem;
    color: #666;
  }
}
