@import 'variables';

.contact { 

    &__cover {
        padding: 15rem 0 5rem;
        background-image: url('/src/assets/img/paralax.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        border-bottom: .25rem solid $river-bed-color;
    }

    &__info {
        padding: 5rem 0;
    }

    &__title {
        color: $coral-tree-color;
    }

    .list {
        margin-top: 2rem;

        .link {
            line-height: 2rem;
        }
    }

    &__map {
        height: 30rem;
        background-image: url('/src/assets/img/map.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        border-top: .25rem solid $jungle-mist-color;
    }

}
