@import "../variables";

.homepage {
  &__cover {
    padding: 5rem 0;
    background-image: url("/src/assets/img/trumpet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 0.0625rem solid $river-bed-color;
  }

  .cover {
    &__title {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      letter-spacing: 0.0625rem;
    }

    &__jumbotron {
      color: #fff;
      letter-spacing: 0.0625rem;
      background-color: rgba(67, 82, 86, 0.85) !important;
    }
  }

  &__overview {
    position: relative;
    padding: 3rem 0;
  }

  .overview {
    &__quote {
      max-width: 25rem;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.25rem;
      font-weight: 400;
      text-align: center;

      &::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 15rem;
        height: 15rem;
        margin: auto;
        color: var(--dark);
        background-image: url(/src/assets/img/quote.svg);
        background-repeat: no-repeat;
        background-size: 15rem;
        opacity: 0.05;
      }
    }

    &__speaker {
      color: $smalt-blue-color;
    }

    &__avatar {
      border: 0.0625rem solid #fafafa;
      border-radius: 50%;
    }
  }

  &__title {
    color: $coral-tree-color;
  }

  &__blog {
    padding: 3rem 0;
    background-color: $porcelain-color;
    border-top: 0.0625rem solid $river-bed-color;
  }

  &__tutorials {
    padding: 3rem 0;
    background-color: $spring-wood-color;
    border-top: 0.0625rem solid $river-bed-color;
  }

  .list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .item {
      margin-bottom: 1rem;

      &__title {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        color: $smalt-blue-color;
        letter-spacing: 0.0125rem;
        line-height: 1.125;
      }

      &__time {
        display: block;
        font-size: 0.75rem;
      }

      &__description {
        color: #616161;
        line-height: 1.5;
      }
    }
  }

  .more {
    color: $river-bed-color;
  }
}
