@import 'variables';

.list { 

    &__cover {
        padding: 15rem 0 5rem;
        background-image: url('/src/assets/img/tutorials.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        border-bottom: .25rem solid $river-bed-color;
    }

    &__index {
        padding: 0;
        margin: 5rem 0;
        list-style-type: none;

        .item {
            margin-bottom: 1rem;

            &__title {
                font-size: 1.25rem;
                color: $smalt-blue-color;
            }

            &__time {
                display: block;
                font-size: .75rem;
            }

            &__description {
                color: #616161;
            }
        }
    }
}
