---
import Flickr from "./Icon/Flickr.astro";
import GitHub from "./Icon/GitHub.astro";
import LinkedIn from "./Icon/LinkedIn.astro";
import YouTube from "./Icon/YouTube.astro";

const today = new Date();
---

<footer class="container mx-auto">
  <div class="py-6 border-t border-slate-300 dark:border-slate-700">
    <div class="flex items-center justify-between">
      <span class="text-sm">&copy; {today.getFullYear()} Nam Vo's blog.</span>
      <span class="flex gap-4">
        <a
          href="/policy-privacy"
          class="text-sm hover:text-primary-600 active:text-primary-700 hover:underline"
          >Điều khoản</a
        >
        <a
          href="/rss.xml"
          class="text-sm hover:text-primary-600 active:text-primary-700 hover:underline"
          >RSS</a
        >
      </span>
    </div>
  </div>
  <div class="flex justify-center gap-3 pb-20">
    <a
      aria-label="LinkedIn's Nam Vo"
      href="https://www.linkedin.com/in/namvh"
      role="button"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-blue-600 hover:bg-blue-500 active:bg-blue-800 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
    >
      <LinkedIn />
    </a>

    <a
      aria-label="GitHub's Nam Vo"
      href="https://github.com/vhnam"
      role="button"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-gray-700 hover:bg-gray-600 active:bg-gray-800 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
    >
      <GitHub />
    </a>

    <a
      aria-label="YouTube's Nam Vo"
      href="https://www.youtube.com/@namvo07"
      role="button"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-red-700 hover:bg-red-600 active:bg-red-800 p-2 font-semibold text-white inline-flex items-center space-x-2 rounded"
    >
      <YouTube />
    </a>

    <a
      aria-label="Flickr's Nam Vo"
      href="https://www.flickr.com/photos/197719301@N02/"
      role="button"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-white hover:bg-slate-100 active:bg-slate-300 p-2 inline-flex items-center justify-center space-x-2 rounded w-9 h-9"
    >
      <Flickr />
    </a>
  </div>
</footer>
