---
const today = new Date();
---

<footer class="max-w-2xl mx-auto">
	<div
		class="pt-10 pb-20 border-t border-slate-200 dark:border-slate-700 text-center"
	>
		&copy; {today.getFullYear()} Nam Vo's blog.
	</div>
</footer>
