---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;
const { pathname } = Astro.url;

const tmpPathname = pathname.split("/");
const tmpHref = (href as string).split("/");
const isActive = tmpPathname[1] === tmpHref[1];
---

<a
  href={href}
  aria-current={isActive ? "page" : undefined}
  class:list={[
    "inline-block",
    "no-underline",
    "hover:underline",
    "text-stone-700 hover:text-primary-700 dark:text-zinc-400 dark:hover:text-primary-400",
    { active: isActive },
  ]}
  {...props}
>
  <slot />
</a>

<style>
  a.active {
    font-weight: bold;
    color: var(--color-primary-600) !important;
  }

  [data-mode="dark"] a.active {
    color: var(--color-primary-400) !important;
  }
</style>
