---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="flex gap-4 max-w-2xl mx-auto px-4 pb-6">
  <HeaderLink href="/">Trang chủ</HeaderLink>
  <HeaderLink href="/tutorials">Chia sẻ</HeaderLink>
</nav>
