---
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
---

<li class="pb-10">
  <FormattedDate date={post.data.date} />
  <a
    href={`/tutorials/${post.slug}/`}
    class="block pb-1 text-xl text-primary-500 hover:text-primary-600 active:text-primary-700"
  >
    {post.data.title}
  </a>
  <p>{post.data.description}</p>
</li>
