---
import { slug } from "github-slugger";

const { heading } = Astro.props;

type Heading = {
  depth: number;
  text: string;
  slug: string;
  subheadings: Heading[];
};

const headingSlug = slug(heading.slug);

export interface Props {
  heading: Heading;
}
---

<li class="flex flex-col gap-2">
  <a
    href={`#${headingSlug}`}
    class="line-clamp-3 w-full px-2 py-1.5 text-sm font-medium leading-snug text-stone-800 transition-colors first-letter:uppercase hover:text-primary-700 dark:text-zinc-200 dark:hover:text-primary-400"
  >
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="ms-2">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
