---
export interface Props {
  tag: {
    name: string;
  };
  slug: string;
}

const { tag, slug } = Astro.props;
---

<a href={`/tags/${slug}`} aria-label={tag.name}>
  <span
    class="text-xs font-semibold me-2 px-2 py-1 tracking-wide rounded-sm bg-white dark:bg-slate-800"
  >
    {tag.name}
  </span>
</a>
