---
import { getCollection } from "astro:content";

import { GA_MEASUREMENT_ID } from "../../consts";

import { sortByDate } from "../../utils/sortByDate";

import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import PostItem from "../../components/PostItem.astro";

const posts = (await getCollection("tutorial")).sort(sortByDate);
---

<!doctype html>
<html lang="vi">
  <head>
    <BaseHead title="Phần mềm" />
  </head>
  <body>
    <Header />

    <main class="my-20">
      <div class="py-5 xl:py-20 mb-12 bg-white dark:bg-slate-800">
        <h1
          class="text-slate-900 font-semibold text-2xl sm:text-3xl lg:text-4xl tracking-tight text-center dark:text-slate-200 mb-2 xl:mb-6"
        >
          Chia sẻ về Công nghệ Phần mềm
        </h1>
        <p class="text-sm leading-6 text-center">{posts.length} bài viết</p>
      </div>

      <div class="container mx-auto">
        <div class="flex flex-col md:flex-row px-4 md:px-8 gap-8">
          <div class="basis-full md:basis-3/12">
            <h2
              class="text-2xl lg:text-3xl font-semibold text-slate-900 tracking-tight dark:text-slate-200"
            >
              Bài viết mới nhất
            </h2>
          </div>
          <section class="basis-full md:basis-9/12">
            <ul class="flex flex-col gap-4 md:gap-6 pb-6">
              {
                posts.map((post) => (
                  <PostItem post={post} category="tutorials" />
                ))
              }
            </ul>
          </section>
        </div>
      </div>
    </main>

    <Footer />

    <script
      type="text/partytown"
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}
    ></script>

    <script type="text/partytown" define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", GA_MEASUREMENT_ID);
    </script>
  </body>
</html>
