@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 400;
}

.dark a {
  --nx-text-opacity: 1;
  color: rgb(56 189 248 / var(--nx-text-opacity)) !important;
  font-weight: 400;
}

.light a {
  --nx-text-opacity: 1;
  color: rgb(14 165 233 / var(--nx-text-opacity)) !important;
  font-weight: 400;
}

h1,
a.post-item__title {
  font-weight: 600 !important;
}
