gallery-photo li {
    display: none;
}

gallery-photo div {
    position: absolute;
    text-align: center;
    top: 0;
    padding: 16px;
    max-width: 400px;
    display: inline-block;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

gallery-photo div > p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

gallery-photo div > img {
    text-align: center;
    max-width: 300px !important;
}